@media screen and (max-width: 767px) {
  .button-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 480px;
    margin-bottom: 40px;
  }
  .button-items:not(:last-child) {
    margin-right: 8px;
  }
  .button-items:nth-child(even) {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .button-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
  .button-items:not(:last-child) {
    margin-right: 8px;
  }
}

@media screen and (max-width: 1199px) {
  .gallery {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    border-bottom: 1px solid #ececec;
  }
  .header.index-no-line {
    border-bottom: none;
  }
  .gallery {
    padding-top: 94px;
    padding-bottom: 94px;
  }
  .button-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 50px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .button-items:not(:last-child) {
    margin-right: 8px;
  }
}

.portfolio-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  color: var(--link-normal-color);
  background: #f5f4fa;
  border-radius: 4px;
  min-width: 73px;
  border: 1px solid transparent;
  cursor: pointer;
  display: inline-block;
  padding: 6px 22px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-button:hover, .portfolio-button:focus {
  color: #ffffff;
  background-color: var(--akcent-text-button-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

ul,
h1,
h2,
h3,
a,
p {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

.webstudio {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--akcent-text-button-color);
  text-decoration: none;
  display: inline-block;
  margin-right: 93px;
}

.studio {
  color: var(--title-text-color);
}

@media screen and (max-width: 767px) {
  .portfolio-card-item {
    width: 100%;
    max-width: 450px;
  }
  .portfolio-card-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio-card-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .portfolio-card-item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
  .portfolio-card-item:nth-child(odd) {
    margin-right: 30px;
  }
  .portfolio-card-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-card-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: calc(-1 * var(--card-set-ap));
    margin-left: calc(-1 * var(--card-set-ap));
  }
  .portfolio-card-item {
    -ms-flex-preferred-size: calc(100% / 3 - var(--card-set-ap));
        flex-basis: calc(100% / 3 - var(--card-set-ap));
    margin-left: var(--card-set-ap);
    margin-top: var(--card-set-ap);
  }
}

.portfolio-card-item {
  border: 1px solid #eeeeee;
}

.card-title-text {
  padding: 20px 24px;
}

.card-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--link-normal-color);
  display: block;
  margin-bottom: 4px;
}

.portfolio-link {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-link:hover, .portfolio-link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card-text {
  font-size: 16px;
  line-height: 1.875;
}

/* card akcent window */
.portfoilio-card-img {
  position: relative;
  overflow: hidden;
}

.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card-item:hover .card-overlay,
.portfolio-link:focus .card-overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.overlay-text {
  font-size: 18px;
  line-height: 1.55;
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  .footer {
    background-color: #2f303a;
    padding-top: 50px;
    padding-bottom: 60px;
  }
  .footer .webstudio {
    display: inline-block;
    margin-bottom: 20px;
    margin-right: 0;
  }
  .footer .studio-adress {
    width: 100%;
    margin-bottom: 60px;
    text-align: center;
  }
  .footer .join {
    margin-bottom: 60px;
    text-align: center;
  }
  .footer .subscribe-input {
    margin-bottom: 20px;
    max-width: 450px;
    width: 100%;
  }
  .footer .subscribe-div {
    text-align: center;
  }
  .footer .form-subscribe {
    width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer {
    background-color: #2f303a;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .footer .studio-adress {
    margin-bottom: 60px;
    text-align: center;
  }
  .footer .webstudio {
    text-align: center;
    margin-right: 0;
  }
  .footer .join {
    text-align: center;
  }
  .footer .subscribe-div {
    text-align: center;
  }
  .footer .form-subscribe {
    width: 450px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: initial;
        -ms-flex-align: initial;
            align-items: initial;
  }
  .footer .subscribe-button {
    margin-right: auto;
    margin-left: auto;
  }
  .footer .subscribe-input {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    background-color: #2f303a;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .studio-adress {
    margin-right: 70px;
  }
  .join {
    margin-right: 93px;
  }
  .subscribe-input {
    width: 100%;
    min-width: 358px;
    margin-right: 12px;
  }
  .form-subscribe {
    width: 100%;
    max-width: 570px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.subscribe-input {
  display: inline-block;
  padding: 15px 0 15px 16px;
  background-color: transparent;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
}

.join-title {
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.list-join {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.item-join {
  width: 44px;
  height: 44px;
}

.item-join:not(:last-child) {
  margin-right: 10px;
}

.link-join {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: rgba(255, 255, 255, 0.1);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: #ffffff;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-join:hover, .link-join:focus {
  background-color: var(--akcent-text-button-color);
}

.form-subscribe input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
}

.form-subscribe input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
}

.form-subscribe input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
}

.form-subscribe input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
}

.subscribe-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 200px;
  padding: 10px 0 10px 29px;
  text-align: left;
  letter-spacing: 0.06em;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  background: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  cursor: pointer;
}

.icon-plaine {
  display: block;
  margin-left: 10px;
}

.footer-studio {
  color: #ffffff;
}

.company-address {
  display: inline-block;
  margin-bottom: 9px;
  color: #ffffff;
  font-style: normal;
}

.contact-info {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  display: inline-block;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-info:hover,
.contact-info:focus {
  color: var(--akcent-text-button-color);
}

.address-list-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-list {
  font-style: normal;
}

@media screen and (max-width: 767px) {
  .nav-list,
  .nav-list-info {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav-list-info {
    margin-left: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .nav-item-info:nth-child(1) {
    margin-bottom: 10px;
  }
  .nav-info {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.166;
  }
  .current::after {
    position: absolute;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
    content: "";
    width: 100%;
    height: 4px;
    background-color: var(--akcent-text-button-color);
  }
}

@media screen and (min-width: 1200px) {
  .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav-list-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: auto;
  }
  .nav-item-info {
    margin-right: 30px;
  }
  .nav-info {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
  }
  .current::after {
    position: absolute;
    left: 0;
    bottom: -1px;
    border-radius: 2px;
    content: "";
    width: 100%;
    height: 4px;
    background-color: var(--akcent-text-button-color);
  }
}

.nav-item + .nav-item {
  margin-left: 50px;
}

.navlink {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--link-normal-color);
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
  width: 100%;
  height: 100%;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navlink:hover, .navlink:focus {
  color: var(--akcent-text-button-color);
}

.nav-info {
  letter-spacing: 0.02em;
  color: inherit;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  height: 100%;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-info:hover, .nav-info:focus {
  color: var(--akcent-text-button-color);
}

.current {
  position: relative;
  color: var(--akcent-text-button-color);
}

.nav-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: currentColor;
}

.icon-envelope {
  display: inline-block;
  margin-right: 10px;
}

.icon-smartphone {
  display: inline-block;
  margin-right: 10px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
}

@media screen and (max-width: 767px) {
  .container {
    width: 100%;
    max-width: 480px;
  }
  .header .container {
    position: relative;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .container {
    width: 100%;
    max-width: 768px;
  }
  .header .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .gallery .container {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 100%;
    max-width: 1200px;
  }
  .footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .header .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .gallery .container {
    display: block;
  }
}

@media screen and (max-width: 479px) {
  .mobile-social-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (max-width: 767px) {
  .header .webstudio {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .mobile-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    pointer-events: none;
    position: absolute;
    width: 100%;
    background-color: #ffffff;
    top: 0;
    left: 0;
    height: 100vh;
    padding-top: 48px;
    padding-left: 40px;
    opacity: 0;
    -webkit-transition: opacity 250ms ease;
    transition: opacity 250ms ease;
    z-index: -5;
  }
  .burger-button,
  .mobile-close-btn {
    background-color: transparent;
    border: none;
  }
  .mobile-close-btn {
    visibility: hidden;
  }
  .burger-button {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .burger-button:hover .burger-icon,
  .burger-button:focus .burger-icon {
    fill: #2196f3;
  }
  .mobile-close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .mobile-close-btn:hover .icon-close,
  .mobile-close-btn:focus .icon-close {
    fill: #2196f3;
  }
  .mobile-menu.is-open {
    opacity: 1;
    z-index: 3;
    pointer-events: all;
  }
  .mobile-menu.is-open .mobile-nav-link,
  .mobile-menu.is-open .mobile-close-btn {
    visibility: unset;
  }
  .mobile-nav-link {
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.02em;
    color: #212121;
    text-decoration: none;
    visibility: hidden;
  }
  .mobile-nav-link:hover, .mobile-nav-link:focus {
    color: var(--akcent-text-button-color);
  }
  .mobile-nav-list-item:not(:last-child) {
    margin-bottom: 30px;
  }
  .mobile-contact-list {
    margin-top: auto;
    margin-bottom: 30px;
  }
  .mobile-contact-link {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #757575;
    -webkit-transition: color 250ms ease, font-size 250ms ease, line-height 250ms ease;
    transition: color 250ms ease, font-size 250ms ease, line-height 250ms ease;
  }
  .mobile-contact-link:hover, .mobile-contact-link:focus {
    color: var(--akcent-text-button-color);
    font-size: 34px;
    line-height: 40px;
  }
  .mobile-contact-item:not(:last-child) {
    margin-bottom: 30px;
  }
  .mobile-social-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 48px;
  }
  .mobile-social-list-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .mobile-social-list-item:not(:last-child):after {
    content: "";
    display: block;
    width: 1px;
    height: 22px;
    background-color: rgba(33, 33, 33, 0.2);
    margin-left: 10px;
    margin-right: 10px;
  }
  .mobile-sicail-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #2196f3;
  }
}

@media screen and (min-width: 768px) {
  .burger-button,
  .mobile-close-btn,
  .mobile-social-list,
  .mobile-close-btn,
  .mobile-nav-list,
  .mobile-contact-list {
    display: none;
  }
}

:root {
  --main-text-color: #757575;
  --akcent-text-button-color: #2196f3;
  --title-text-color: #000000;
  --link-normal-color: #212121;
  --card-set-ap: 30px;
}
/*# sourceMappingURL=portfolioPage.css.map */