@media screen and (max-width: 767px) {
  .nav-list,
  .nav-list-info {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .navigation {
    display: flex;
    align-items: center;
  }
  .nav-list {
    display: flex;
  }
  .nav-list-info {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .nav-item-info:nth-child(1) {
    margin-bottom: 10px;
  }
  .nav-info {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.166;
  }
  .current::after {
    position: absolute;
    left: 0;
    bottom: -1px;

    border-radius: 2px;
    content: "";
    width: 100%;
    height: 4px;
    background-color: var(--akcent-text-button-color);
  }
}
@media screen and (min-width: 1200px) {
  .navigation {
    display: flex;
    align-items: center;
  }
  .nav-list {
    display: flex;
  }
  .nav-list-info {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  .nav-item-info {
    margin-right: 30px;
  }
  .nav-info {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
  }
  .current::after {
    position: absolute;
    left: 0;
    bottom: -1px;

    border-radius: 2px;
    content: "";
    width: 100%;
    height: 4px;
    background-color: var(--akcent-text-button-color);
  }
}
.nav-item + .nav-item {
  margin-left: 50px;
}
// .header {
//   border-bottom: 1px solid #ececec;
// }

.navlink {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--link-normal-color);

  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
  width: 100%;
  height: 100%;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--akcent-text-button-color);
  }
}

.nav-info {
  letter-spacing: 0.02em;
  color: inherit;
  text-decoration: none;
  // padding-top: 32px;
  // padding-bottom: 32px;

  display: inline-block;
  width: 100%;
  height: 100%;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--akcent-text-button-color);
  }
}

.current {
  position: relative;
  color: var(--akcent-text-button-color);
}

// .current::after {
//   position: absolute;
//   left: 0;
//   bottom: -1px;

//   border-radius: 2px;
//   content: "";
//   width: 100%;
//   height: 4px;
//   background-color: var(--akcent-text-button-color);
// }

// .header .container {
//   display: flex;
// }

// .nav-item-info.info-mail {
//   margin-right: 50px;
// }

// .header.index-no-line {
//   border-bottom: 1px solid transparent;
// }
// /* SVG Imeges */
.nav-info {
  display: flex;
  align-items: center;
  fill: currentColor;
}
.icon-envelope {
  display: inline-block;
  margin-right: 10px;
}
.icon-smartphone {
  display: inline-block;
  margin-right: 10px;
}
