.main-hero {
  background-color: #2f303a;
  margin-left: auto;
  margin-right: auto;
}
.title-hero {
  font-weight: 900;
  font-size: 26px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;

  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .main-hero {
    max-width: 768px;

    padding: 118px 120px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../img/hero/hero-tablet.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .title-hero {
    font-weight: 900;
    font-size: 26px;
    line-height: 42px;

    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .main-hero {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../img/hero/hero-tablet@2x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .container.hero {
    text-align: center;
    padding: 0 60px;
  }
}

@media screen and (max-width: 767px) {
  .main-hero {
    max-width: 480px;
    height: 402px;
    padding-top: 118px;
    padding-bottom: 118px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../img/hero/hero-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  @media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
    screen and (min-resolution: 192dpi) and (max-width: 767px),
    screen and (min-resolution: 2dppx) and (max-width: 767px) {
    .main-hero {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../img/hero/hero-mobile@2x.jpg);
      background-repeat: no-repeat;
      background-size: cover;
    }
    .container.hero {
      text-align: center;
      padding: 0 60px;
    }
  }
}
@media screen and (min-width: 1200px) {
  .main-hero {
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../img/hero/hero-desctop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .title-button {
    width: 696px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .title-hero {
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
  screen and (min-resolution: 192dpi) and (min-width: 1200px),
  screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .main-hero {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../img/hero/hero-desctop@2x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}
