@media screen and (max-width: 479px) {
  .mobile-social-list {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 767px) {
  .header .webstudio {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .mobile-menu {
    display: flex;
    flex-direction: column;

    pointer-events: none;
    position: absolute;
    width: 100%;
    background-color: #ffffff;
    top: 0;
    left: 0;
    height: 100vh;
    padding-top: 48px;
    padding-left: 40px;
    opacity: 0;
    transition: opacity 250ms ease;
    z-index: -5;
  }
  .burger-button,
  .mobile-close-btn {
    background-color: transparent;
    border: none;
  }
  .mobile-close-btn {
    visibility: hidden;
  }
  .burger-button {
    position: absolute;
    top: 10px;
    right: 10px;
    &:hover .burger-icon,
    &:focus .burger-icon {
      fill: #2196f3;
    }
  }
  .mobile-close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    &:hover .icon-close,
    &:focus .icon-close {
      fill: #2196f3;
    }
  }
  .mobile-menu.is-open {
    opacity: 1;
    z-index: 3;
    pointer-events: all;
    & .mobile-nav-link,
    & .mobile-close-btn {
      visibility: unset;
    }
  }
  .mobile-nav-link {
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.02em;

    color: #212121;
    text-decoration: none;
    &:hover,
    &:focus {
      color: var(--akcent-text-button-color);
    }
    visibility: hidden;
  }

  .mobile-nav-list-item {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  .mobile-contact-list {
    margin-top: auto;
    margin-bottom: 30px;
  }
  .mobile-contact-link {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #757575;
    transition: color 250ms ease, font-size 250ms ease, line-height 250ms ease;

    &:hover,
    &:focus {
      color: var(--akcent-text-button-color);
      font-size: 34px;
      line-height: 40px;
    }
  }

  .mobile-contact-item {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  .mobile-social-list {
    display: flex;
    margin-bottom: 48px;
  }
  .mobile-social-list-item {
    display: flex;
    align-items: center;
    &:not(:last-child):after {
      content: "";
      display: block;
      width: 1px;
      height: 22px;
      background-color: rgba(33, 33, 33, 0.2);
      margin-left: 10px;
      margin-right: 10px;
    }
  }
  .mobile-sicail-link {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #2196f3;
  }
}
@media screen and (min-width: 768px) {
  .burger-button,
  .mobile-close-btn,
  .mobile-social-list,
  .mobile-close-btn,
  .mobile-nav-list,
  .mobile-contact-list {
    display: none;
  }
}
