.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 43px 8px 37px 8px;

  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  // overflow-y: scroll;

  @media screen and (max-width: 767px) {
    & {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      max-width: 450px;

      padding: 43px 8px 37px 8px;
    }
  }
  @media screen and (min-width: 768px) {
    & {
      width: 100%;

      padding: 43px 40px 37px 40px;
      width: 528px;
      height: 609px;
    }
  }
}
.back-page.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.back-page {
  position: fixed;
  top: 0;
  left: 0%;

  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.2);
  overflow-y: scroll;
}
// .modal {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);

//   padding: 43px 8px 37px 8px;
//   min-width: 528px;
//   min-height: 581px;

//   background: #ffffff;
//   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
//     0px 2px 1px rgba(0, 0, 0, 0.2);
//   border-radius: 4px;
// }
.back-page.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.modal-button {
  position: absolute;
  top: 8px;
  right: 13px;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);

  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    color: var(--akcent-text-button-color);
  }
}
