.webstudio {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--akcent-text-button-color);
  text-decoration: none;

  display: inline-block;
  margin-right: 93px;
}
.studio {
  color: var(--title-text-color);
}
